Repository BlueMoon-Labs/WhiteMoon-Station, pull requests merged in 2025-06, with the labels that each got.

#38 Ghost-Dogo Balance Up
  modular_zzz/code/modules/ruins/hilbertshotel_ghost.dm
  tgstation.dme
Labels: Code

#42 Mouse body parts
  modular_zzz/icons/mob/sprite_accessory/ears.dmi
  modular_zzz/icons/mob/sprite_accessory/snouts.dmi
  modular_zzz/modules/customization/ears.dm
  modular_zzz/modules/customization/snouts.dm
Labels: Code, Sprites

#41 catcrins_masks
  modular_zzz/code/modules/clothing/masks/gasmask.dm
  modular_zzz/code/modules/loadout/categories/masks.dm
  modular_zzz/icons/mob/clothing/mask.dmi
  modular_zzz/icons/obj/clothing/masks/mask.dmi
Labels: Code, Sprites

#44 Фикс карго для платформы Перзистенс и Таркофф Индастриз! OwO
  modular_zzz/code/modules/cargo/expressconsole.dm
  modular_zzz/code/modules/cargo/supplypod.dm
  tgstation.dme
Labels: Code

#40 Balance Up
  modular_zzz/code/modules/bitrunning/domains/hard/bubblegum.dm
  modular_zzz/code/modules/bitrunning/domains/hard/colossus.dm
  modular_zzz/code/modules/bitrunning/domains/hard/hierophant.dm
  modular_zzz/code/modules/bitrunning/domains/hard/island_brawl.dm
  modular_zzz/code/modules/bitrunning/domains/hard/virtual_domain.dm
  modular_zzz/code/modules/bitrunning/domains/hard/wendigo.dm
  modular_zzz/code/modules/bitrunning/domains/light/meta_central.dm
  modular_zzz/code/modules/bitrunning/domains/medium/blood_drunk_miner.dm
  modular_zzz/code/modules/bitrunning/domains/medium/syndicate_assault.dm
  modular_zzz/code/modules/cargo/packs/security.dm
  modular_zzz/code/modules/clothing/inteq/ear.dm
  modular_zzz/code/modules/clothing/inteq/suit.dm
  modular_zzz/code/modules/clothing/outfits/ert.dm
  modular_zzz/code/modules/clothing/outfits/inteq/ert.dm
  modular_zzz/code/modules/projectiles/projectile.dm
  modular_zzz/code/modules/storytellers/event_defines/crewset/clown_ops.dm
  modular_zzz/code/modules/storytellers/event_defines/crewset/heretic.dm
  modular_zzz/code/modules/storytellers/event_defines/crewset/nuke_ops.dm
  modular_zzz/code/modules/storytellers/event_defines/crewset/wizard.dm
  modular_zzz/modules/complany_imports/code/armament_datums/microstar_energy.dm
  tgstation.dme
Labels: Code

#45 ckeys_to_catcrins
  modular_zzz/code/modules/loadout/categories/masks.dm
Labels: Code

#46 personal_pets
  modular_zzz/code/game/objects/items/miscellaneous.dm
  modular_zzz/code/modules/loadout/categories/pocket.dm
  modular_zzz/code/modules/mob/living/basic/pets/pets.dm
  modular_zzz/icons/mob/inhands/pets/pets_held_lh.dmi
  modular_zzz/icons/mob/inhands/pets/pets_held_rh.dmi
  modular_zzz/icons/mob/pets_head.dmi
  modular_zzz/icons/mob/simple/pets.dmi
  tgstation.dme
Labels: Code, Sprites

#48 Добавления в аплинк Предателя и Контрактника
  code/modules/uplink/uplink_items/job.dm
  modular_zzz/modules/syndie_balance/energy_fireaxe.dm
  modular_zzz/modules/syndie_balance/modsuit.dm
  modular_zzz/modules/uplink/contractor.dm
  modular_zzz/modules/uplink/job.dm
  modular_zzz/modules/uplink/suits.dm
  tgstation.dme
Labels: Code

#36 Перевод Еритоса
  modular_zzz/code/modules/antagonists/heretic/knowledge/ash_lore.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/blade_lore.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/lock_lore.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/moon_lore.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/rust_lore.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/side_ash_moon.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/side_blade_rust.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/side_cosmos_ash.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/side_flesh_void.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/side_lock_flesh.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/side_lock_moon.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/side_rust_cosmos.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/side_void_blade.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/starting_lore.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/void_lore.dm
  tgstation.dme
Labels: Code

#51 acrador_stuff
  modular_zzz/code/game/objects/items/miscellaneous.dm
  modular_zzz/code/modules/clothing/heads/heads.dm
  modular_zzz/code/modules/clothing/suits/suits.dm
  modular_zzz/code/modules/clothing/under/under.dm
  modular_zzz/code/modules/loadout/categories/heads.dm
  modular_zzz/code/modules/loadout/categories/pocket.dm
  modular_zzz/code/modules/loadout/categories/suits.dm
  modular_zzz/code/modules/loadout/categories/uniform.dm
  modular_zzz/icons/mob/clothing/heads_32x48.dmi
  modular_zzz/icons/mob/clothing/suits.dmi
  modular_zzz/icons/mob/clothing/under.dmi
  modular_zzz/icons/obj/accessories.dmi
  modular_zzz/icons/obj/clothing/heads.dmi
  modular_zzz/icons/obj/clothing/suits.dmi
  modular_zzz/icons/obj/clothing/under.dmi
  tgstation.dme
Labels: Code, Sprites

#49 [Tweak] Disable Spacer Height Modificator
  code/datums/quirks/positive_quirks/spacer.dm
Labels: Code, Stale

#59 Пачка фиксов.
  code/__HELPERS/text.dm
  code/__HELPERS/~white_helpers/text.dm
  modular_zzplurt/code/modules/mob/living/emote.dm
  strings/traumas.json
  tgstation.dme
Labels: Code

#60 Штуки от Меркрипера и для Меркрипера.
  modular_zzz/code/game/objects/items/melee/misc.dm
  modular_zzz/code/modules/clothing/belts/belts.dm
  modular_zzz/code/modules/loadout/categories/inhands.dm
  modular_zzz/code/modules/storytellers/event_defines/events.dm
  modular_zzz/icons/mob/clothing/belts.dmi
  modular_zzz/icons/mob/inhands/weapons/lefthand.dmi
  modular_zzz/icons/mob/inhands/weapons/righthand.dmi
  modular_zzz/icons/obj/clothing/belts.dmi
  modular_zzz/icons/obj/weapons/katana.dmi
  modular_zzz/sounds/misc/mech-zvonkiy-yarkiy.ogg
  tgstation.dme
Labels: Code, Sprites, Sound

#61 nyctea_pipe
  modular_zzz/code/modules/clothing/masks/gasmask.dm
  modular_zzz/code/modules/loadout/categories/masks.dm
  modular_zzz/icons/mob/clothing/mask.dmi
  modular_zzz/icons/obj/clothing/masks/mask.dmi
Labels: Code, Sprites

#63 Update masks.dm
  modular_zzz/code/modules/loadout/categories/masks.dm
Labels: Code
