Repository BlueMoon-Labs/WhiteMoon-Station, pull requests merged in 2025-05, with the labels that each got.

#18 ckey_to_my_mask
  modular_zzz/code/modules/loadout/categories/masks.dm
Labels: Code

#8 Фикс спрайта Digitigrade prosthetic left leg, багрепорт от Ricardo.
  modular_zzz/modules/digitigrade_cybernetics/code/robot_bodyparts.dm
  modular_zzz/modules/digitigrade_cybernetics/icons/advanced_digitigrade_parts.dmi
  modular_zzz/modules/digitigrade_cybernetics/icons/digitigrade_parts.dmi
  tgstation.dme
Labels: Code, Sprites

#11 Ash Walkers Slaves and Big Mechas.
  _maps/bubber/automapper/automapper_config.toml
  _maps/splurt/automapper/templates/mining/lavaland_ashwalker_fortress.dmm
  modular_zzplurt/code/game/mecha/mecha.dm
  modular_zzplurt/code/modules/mob_spawn/ghost_roles/ash_walkers_slave.dm
  tgstation.dme
Labels: Map Edit, Code

#12 Фикс тряпок киборгов
  modular_skyrat/modules/borgs/code/robot_upgrade.dm
Labels: Code

#14 СБшники теперь распределяются по отделам станции.
  code/modules/jobs/job_types/security_officer.dm
Labels: Code

#15 Мунбот и Антаги.
  code/__DEFINES/~~~~white_defines/subsystems.dm
  code/datums/world_topic.dm
  code/game/world.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/sql_message_system.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/client/verbs/ooc.dm
  modular_skyrat/modules/player_ranks/code/world_topic.dm
  modular_skyrat/modules/server_overflow/code/chat_link.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/nuke_ops.dm
  modular_zubbers/code/modules/zantag_tickets/candidate_setup.dm
  modular_zzz/code/controllers/topic.dm
  modular_zzz/code/datums/world_topic.dm
  modular_zzz/code/modules/storytellers/event_defines/crewset/assault_ops.dm
  modular_zzz/code/modules/storytellers/event_defines/crewset/clown_ops.dm
  modular_zzz/code/modules/storytellers/event_defines/crewset/ratvar_cult.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/clockcult.ts
Labels: Code, Administration, TGUI

#17 noonar_request
  modular_zzz/code/modules/loadout/categories/suits.dm
  modular_zzz/fluffs/code/suits.dm
  modular_zzz/fluffs/icons/mob/suits.dmi
  modular_zzz/fluffs/icons/obj/suits.dmi
  tgstation.dme
Labels: Code, Sprites

#20 bloodfledge_bugfix
  modular_zzplurt/code/datums/quirks/positive_quirks/bloodfledge.dm
Labels: Code

#21 7_new_emotes
  modular_zzz/code/modules/mob/living/emote.dm
  modular_zzz/sounds/voice/keptyouwaiting.ogg
  modular_zzz/sounds/voice/meow5.ogg
  modular_zzz/sounds/voice/meow6.ogg
  modular_zzz/sounds/voice/meow7.ogg
  modular_zzz/sounds/voice/prettygood.ogg
  modular_zzz/sounds/voice/snakedies.ogg
  modular_zzz/sounds/voice/thenoize.ogg
  tgstation.dme
Labels: Code, Sound

#16 add nunchaku to traitor uplink
  modular_zzplurt/code/modules/uplink/uplink_items/dangerous.dm
  tgstation.dme
Labels: Code

#22 tender_request
  modular_zzz/code/modules/loadout/categories/neck.dm
  modular_zzz/fluffs/code/neck.dm
  modular_zzz/fluffs/icons/mob/neck.dmi
  modular_zzz/fluffs/icons/obj/neck.dmi
  tgstation.dme
Labels: Code, Sprites

#23 loadout
  modular_zzz/code/modules/loadout/categories/head.dm
  modular_zzz/code/modules/loadout/categories/uniform.dm
  tgstation.dme
Labels: Code

#24 Улучшаю Культистов
  code/modules/antagonists/cult/datums/cult_team.dm
  modular_zubbers/code/modules/antagonists/heretic/heretic.dm
  modular_zzplurt/code/datums/quirks/neutral_quirks/modularlimbs.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/ash_lore.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/blade_lore.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/lock_lore.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/moon_lore.dm
  modular_zzz/code/modules/antagonists/heretic/knowledge/rust_lore.dm
  modular_zzz/code/modules/storytellers/event_defines/crewset/clown_ops.dm
  modular_zzz/code/modules/storytellers/event_defines/crewset/nuke_ops.dm
  modular_zzz/sounds/heretic/ash_lore.ogg
  modular_zzz/sounds/heretic/flesh_lore.ogg
  modular_zzz/sounds/heretic/rust_lore.ogg
  modular_zzz/sounds/heretic/void_lore.ogg
  tgstation.dme
Labels: Code, Sound

#25 Bloodfledge for Hemophage rebalance
  modular_zzplurt/code/datums/quirks/positive_quirks/bloodfledge.dm
Labels: Code

#28 Исправление реверса эмоутов в панели для Синтов и Органиков.
  modular_skyrat/modules/emote_panel/code/emote_panel.dm
Labels: Code

#27 personal_items
  modular_zzz/code/modules/clothing/heads/heads.dm
  modular_zzz/code/modules/clothing/necks/neck.dm
  modular_zzz/code/modules/loadout/categories/heads.dm
  modular_zzz/code/modules/loadout/categories/neck.dm
  modular_zzz/icons/mob/clothing/heads.dmi
  modular_zzz/icons/mob/clothing/neck.dmi
  modular_zzz/icons/obj/clothing/heads.dmi
  modular_zzz/icons/obj/clothing/neck.dmi
  tgstation.dme
Labels: Code, Sprites

#29 Balance Up
  code/modules/power/singularity/narsie.dm
  html/changelogs/AutoChangeLog-splurt-pr-382.yml
  html/changelogs/AutoChangeLog-splurt-pr-383.yml
  html/changelogs/splurt_archive/2025-05.yml
  modular_zubbers/code/modules/changeling_zombies/event.dm
  modular_zubbers/code/modules/changeling_zombies/reagent.dm
  modular_zzplurt/code/modules/client/preferences/body_size.dm
  modular_zzplurt/code/modules/mob/living/living.dm
  modular_zzz/code/datums/world_topic.dm
  modular_zzz/code/modules/antagonists/nukeop/outfits.dm
  modular_zzz/code/modules/loadout/categories/head.dm
  modular_zzz/code/modules/loadout/categories/uniform.dm
  modular_zzz/code/modules/mob/living/carbon/carbon.dm
  tgstation.dme
Labels: Code

#30 Формальдегид для МедиБоргов
  code/game/objects/items/robot/items/hypo.dm
Labels: Code

#31 Возвращение обновления баунти шпионов до 12 минут
  code/modules/antagonists/spy/spy_bounty_handler.dm
Labels: Code
