Repository BlueMoon-Labs/WhiteMoon-Station, pull requests merged in 2025-08, with the labels that each got.

#99 Пачка переводов и исправлений в законах ИИ.
  code/game/objects/items/AI_modules/zeroth.dm
  code/modules/antagonists/malf_ai/malf_ai.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  modular_zzz/modules/translate/laws-translate/laws_antagonistic.dm
  modular_zzz/modules/translate/laws-translate/laws_neutral.dm
  modular_zzz/modules/translate/laws-translate/laws_station_sided.dm
  strings/antagonist_flavor/malfunction_flavor.json
Labels: Code, Sprites, Administration, Sound

#100 little_stuff
  modular_zzz/code/modules/loadout/categories/heads.dm
  modular_zzz/code/modules/loadout/categories/masks.dm
  modular_zzz/code/modules/loadout/categories/pocket.dm
  modular_zzz/code/modules/loadout/categories/suits.dm
  modular_zzz/code/modules/loadout/categories/uniforms.dm
  modular_zzz/icons/mob/clothing/heads_32x48.dmi
Labels: Code, Sprites

#98 Временный фикс защиты ушей.
  modular_zzz/modules/ear_protect_temp_fix/code/ear_protect_fix.dm
  tgstation.dme
Labels: Code

#109 Меняю init_order на init_stage для починки бота.
  code/__DEFINES/~~~~white_defines/subsystems.dm
  modular_zzz/code/controllers/topic.dm
  tgstation.dme
Labels: Code

#110 Ивентовое.
  modular_zzz/code/datums/quirks/negative_quirks/allergic.dm
  modular_zzz/code/datums/quirks/negative_quirks/blood_deficiency.dm
  modular_zzz/code/datums/quirks/negative_quirks/food_allergy.dm
  modular_zzz/code/modules/clothing/catcrinstuff/catcrinstuff.dm
  modular_zzz/code/modules/clothing/necks/collars.dm
  modular_zzz/code/modules/jobs/misc/cargo_guard.dm
  modular_zzz/code/modules/jobs/misc/engi_guard.dm
  modular_zzz/code/modules/jobs/misc/orderly.dm
  modular_zzz/code/modules/jobs/misc/science_guard.dm
  tgstation.dme
Labels: Code

#111 catcrin_armor_medhud
  modular_zzz/code/modules/clothing/catcrinstuff/catcrin_healthscan_suit.dm
  modular_zzz/code/modules/clothing/catcrinstuff/catcrinstuff.dm
  modular_zzz/code/modules/loadout/categories/suits.dm
  modular_zzz/icons/mob/clothing/suits.dmi
  tgstation.dme
Labels: Code, Sprites

#95 Добавляем CQD Holster
  modular_zzz/code/game/machinery/vending.dm
  modular_zzz/icons/cqd_holser_icons/cqd_holster.dmi
  modular_zzz/icons/cqd_holser_icons/cqd_holster_aesthetic.dmi
  modular_zzz/icons/cqd_holser_icons/cqd_holster_syndicate.dmi
  modular_zzz/icons/cqd_holser_icons/cqd_holster_worn.dmi
  modular_zzz/icons/cqd_holser_icons/cqd_holster_worn_aesthetic.dmi
  modular_zzz/icons/cqd_holser_icons/cqd_holster_worn_syndicate.dmi
  modular_zzz/modules/cqd_holsters/code/holster.dm
  modular_zzz/modules/cqd_holsters/code/holster_injections.dm
  modular_zzz/modules/cqd_holsters/code/holster_storage.dm
  modular_zzz/modules/cqd_holsters/code/utility.dm
  tgstation.dme
Labels: Code, Sprites

#106 Update drug_reagents.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
Labels: Code

#113 Небольшие изменения для антагонистов и для боргов.
  code/__DEFINES/~~~~white_defines/robot_defines.dm
  code/modules/cargo/packs/security.dm
  code/modules/research/designs/comp_board_designs.dm
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
  modular_zubbers/code/modules/cargo/packs/security.dm
  modular_zzz/code/modules/antagonists/revolution/revolution.dm
  modular_zzz/code/modules/cargo/packs/armory.dm
  modular_zzz/code/modules/cargo/packs/security.dm
  modular_zzz/code/modules/mob/living/silicon/robot/robot_model.dm
  modular_zzz/code/modules/projectiles/guns/pistol/nt.dm
  modular_zzz/code/modules/projectiles/projectile.dm
  modular_zzz/code/modules/vending/security.dm
  modular_zzz/icons/mob/silicon/widerobot_med.dmi
  tgstation.dme
Labels: Code, Sprites

#114 catcrin_modsuit
  modular_skyrat/master_files/icons/mob/mod.dmi
  modular_zzz/code/game/objects/items/miscellaneous.dm
  modular_zzz/code/modules/clothing/catcrinstuff/catcrinstuff.dm
  modular_zzz/icons/mob/clothing/suits/mod.dmi
  modular_zzz/icons/obj/clothing/suits/mod.dmi
Labels: Code, Sprites

#115 Улучшение панели эмоутов
  code/__DEFINES/~~~~white_defines/custom_emote_panel.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/emotes.dm
  code/modules/client/preferences/migrations/emote_panel_migration.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/basic/slime/emote.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/silicon/ai/emote.dm
  modular_skyrat/modules/container_emotes/code/container_emotes.dm
  modular_skyrat/modules/emotes/code/additionalemotes/overlay_emote.dm
  modular_skyrat/modules/emotes/code/additionalemotes/turf_emote.dm
  modular_skyrat/modules/indicators/code/combat_indicator.dm
  modular_skyrat/modules/layer_shift/code/mob_movement.dm
  modular_skyrat/modules/verbs/code/subtle.dm
  modular_zubbers/code/modules/emotes/emotes.dm
  modular_zubbers/code/modules/quirks/positive_quirks/telepathy.dm
  modular_zubbers/code/modules/surgery/organs/external/wings.dm
  modular_zzplurt/code/modules/mob/living/emote.dm
  modular_zzplurt/code/modules/tgui_custom_emote_panel/topic.dm
  tgstation.dme
  tgui/packages/tgui-panel/emotes/EmotesToolbar.tsx
  tgui/packages/tgui-panel/emotes/index.ts
  tgui/packages/tgui-panel/emotes/model.ts
Labels: Code, TGUI

#117 Теперь в описании меха показывается, кто закрыл меха под ДНК-замок.
  code/modules/discord/accountlink.dm
  code/modules/holiday/holidays.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/research/techweb/nodes/cyborg_nodes.dm
  code/modules/research/techweb/nodes/robo_nodes.dm
  code/modules/vehicles/mecha/mecha_ui.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/hostile/grabbagmob.dm
  modular_zzplurt/code/controllers/configuration/entries/discord.dm
  modular_zzplurt/code/controllers/subsystem/discord.dm
  modular_zzplurt/code/modules/client/verbs/looc.dm
  modular_zzplurt/code/modules/client/verbs/ooc.dm
  modular_zzplurt/code/modules/clothing/storage/wallets.dm
  modular_zzplurt/code/modules/discord/tgs_commands.dm
  modular_zzplurt/code/modules/discord/verbs.dm
  modular_zzplurt/code/modules/logging/log_category.dm
  modular_zzplurt/code/modules/mob/dead/new_player/new_player.dm
  modular_zzz/code/game/objects/items/stacks/sheet_types.dm
  modular_zzz/icons/mob/sprite_accessory/tails.dmi
  modular_zzz/modules/customization/tails.dm
  tgstation.dme
Labels: Code, Sprites

#119 Убрал немного хардкода из SQL-запросов.
  code/controllers/subsystem/achievements.dm
  code/modules/client/verbs/ooc.dm
  modular_zubbers/code/modules/vetted/vetted.dm
  modular_zzz/code/modules/jobs/misc/cargo_guard.dm
  modular_zzz/code/modules/jobs/misc/engi_guard.dm
  modular_zzz/code/modules/jobs/misc/orderly.dm
  modular_zzz/code/modules/jobs/misc/science_guard.dm
Labels: Code
