Repository BlueMoon-Labs/WhiteMoon-Station, pull requests merged in 2025-07, with the labels that each got.

#66 Причёски с Нова-Станции.
  modular_zzz/code/modules/events/portal_storm.dm
  modular_zzz/code/modules/mob/living/lavaland/legion.dm
  modular_zzz/code/modules/ruins/hilbertshotel_ghost.dm
  modular_zzz/icons/mob/simple/lavaland/64x64megafauna.dmi
  modular_zzz/icons/mob/simple/lavaland/96x96megafauna.dmi
  modular_zzz/icons/mob/sprite_accessory/facialhair.dmi
  modular_zzz/icons/mob/sprite_accessory/hair.dmi
  modular_zzz/icons/mob/sprite_accessory/more_hair.dmi
  modular_zzz/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
  modular_zzz/modules/new_icons/cult/cult_items.dm
  tgstation.dme
Labels: Code, Sprites

#58 Бафф пауков
  code/modules/mob/living/basic/space_fauna/spider/giant_spider/giant_spiders.dm
  modular_zzz/modules/spiderbuff/giant_spiders.dm
  modular_zzz/modules/spiderbuff/spider_ability.dm
  modular_zzz/modules/spiderbuff/spidersecondstage_subtypes.dm
  modular_zzz/modules/spiderbuff/spiderstages.dm
  tgstation.dme
Labels: Code, Stale

#69 Донатерские вещи.
  code/modules/meteors/meteor_spawning.dm
  code/modules/mob/living/basic/space_fauna/space_dragon/space_dragon.dm
  modular_skyrat/master_files/icons/mob/mod.dmi
  modular_zzz/code/game/objects/items/melee/misc.dm
  modular_zzz/code/modules/clothing/belts/belts.dm
  modular_zzz/code/modules/clothing/inteq/suit.dm
  modular_zzz/code/modules/clothing/necks/neck.dm
  modular_zzz/code/modules/clothing/outfits/ert.dm
  modular_zzz/code/modules/clothing/suits/modsuits.dm
  modular_zzz/code/modules/clothing/suits/suits.dm
  modular_zzz/code/modules/loadout/categories/neck.dm
  modular_zzz/code/modules/loadout/categories/suits.dm
  modular_zzz/code/modules/mob/living/basic/space_fauna/space_dragon.dm
  modular_zzz/code/modules/reagents/reagent_dispenser.dm
  modular_zzz/code/modules/storytellers/storyteller_1_low.dm
  modular_zzz/code/modules/storytellers/storyteller_2_medium.dm
  modular_zzz/code/modules/storytellers/storyteller_3_high.dm
  modular_zzz/icons/mob/clothing/belts.dmi
  modular_zzz/icons/mob/clothing/lefthand.dmi
  modular_zzz/icons/mob/clothing/neck.dmi
  modular_zzz/icons/mob/clothing/righthand.dmi
  modular_zzz/icons/mob/clothing/suits.dmi
  modular_zzz/icons/mob/clothing/suits/mod.dmi
  modular_zzz/icons/obj/clothing/neck.dmi
  modular_zzz/icons/obj/clothing/suits.dmi
  modular_zzz/icons/obj/clothing/suits/mod.dmi
  modular_zzz/sounds/misc/kega.ogg
  tgstation.dme
Labels: Code, Sprites, Sound

#70 [WHITEMOON] Hatred Major Antagonist
  code/__DEFINES/~~~~white_defines/traits_declaration.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  modular_zzz/code/modules/antagonists/hatred/hatred.dm
  modular_zzz/code/modules/antagonists/hatred/hatred_begin_1.ogg
  modular_zzz/code/modules/antagonists/hatred/hatred_begin_2.ogg
  modular_zzz/code/modules/antagonists/hatred/hatred_begin_3.ogg
  modular_zzz/code/modules/antagonists/hatred/hatred_spawned_1.ogg
  modular_zzz/code/modules/antagonists/hatred/hatred_spawned_2.ogg
  modular_zzz/code/modules/antagonists/hatred/killing_speech/hatred_speech_1.ogg
  modular_zzz/code/modules/antagonists/hatred/killing_speech/hatred_speech_10.ogg
  modular_zzz/code/modules/antagonists/hatred/killing_speech/hatred_speech_11.ogg
  modular_zzz/code/modules/antagonists/hatred/killing_speech/hatred_speech_12.ogg
  modular_zzz/code/modules/antagonists/hatred/killing_speech/hatred_speech_13.ogg
  modular_zzz/code/modules/antagonists/hatred/killing_speech/hatred_speech_14.ogg
  modular_zzz/code/modules/antagonists/hatred/killing_speech/hatred_speech_2.ogg
  modular_zzz/code/modules/antagonists/hatred/killing_speech/hatred_speech_3.ogg
  modular_zzz/code/modules/antagonists/hatred/killing_speech/hatred_speech_4.ogg
  modular_zzz/code/modules/antagonists/hatred/killing_speech/hatred_speech_5.ogg
  modular_zzz/code/modules/antagonists/hatred/killing_speech/hatred_speech_6.ogg
  modular_zzz/code/modules/antagonists/hatred/killing_speech/hatred_speech_7.ogg
  modular_zzz/code/modules/antagonists/hatred/killing_speech/hatred_speech_8.ogg
  modular_zzz/code/modules/antagonists/hatred/killing_speech/hatred_speech_9.ogg
  modular_zzz/code/modules/projectiles/guns/ballistic/automatic.dm
  modular_zzz/code/modules/surgery/bodyparts/_bodyparts.dm
  tgstation.dme
Labels: Code, Sound

#80 Поправил Тейлбаги, чтобы они не скрывали ID-карту с СБ-ХУДов.
  modular_zzplurt/code/modules/clothing/storage/wallets.dm
Labels: Code

#79 ckey_to_my_stuff
  modular_zzz/code/modules/loadout/categories/masks.dm
Labels: Code

#86 helmets_light_fixing
  modular_zzz/code/modules/catcrinstuff/catcrinstuff.dm
  modular_zzz/code/modules/clothing/heads/helmet.dm
  modular_zzz/icons/obj/clothing/heads.dmi
Labels: Code, Sprites

#87 Fix-and new Ui
  code/_onclick/hud/hud.dm
  modular_zzplurt/code/_onclick/hud/hud.dm
  modular_zzplurt/code/_onclick/hud/human.dm
  modular_zzz/icons/hud/screen_blue98.dmi
  modular_zzz/icons/hud/screen_clockwork.dmi
  modular_zzz/icons/hud/screen_midnight.dmi
  modular_zzz/icons/hud/screen_operative.dmi
  modular_zzz/icons/hud/screen_operative_extor.dmi
  modular_zzz/icons/hud/screen_plasmafire.dmi
  modular_zzz/icons/hud/screen_retro.dmi
  modular_zzz/icons/hud/screen_slimecore.dmi
  modular_zzz/icons/hud/screen_trasenknox.dmi
Labels: Code, Sprites

#84 Вернул Космическому Дракону стандартное здоровье.
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/pirate_inteq_colossus.dmm
  code/__DEFINES/antagonists.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_arousal/status_effects/fluid_generation.dm
  modular_skyrat/modules/mutants/code/mutant_event.dm
  modular_zubbers/code/modules/changeling_zombies/event.dm
  modular_zubbers/code/modules/changeling_zombies/reagent.dm
  modular_zzplurt/code/game/objects/items/armor_kits.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/breasts.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/nipsuck.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/self/breasts.dm
  modular_zzz/code/datums/station_traits/positive_trait.dm
  modular_zzz/code/game/area/centcom.dm
  modular_zzz/code/game/objects/effects/spawners/melee.dm
  modular_zzz/code/modules/antagonists/pirate/pirate_gangs.dm
  modular_zzz/code/modules/clothing/outfits/ert.dm
  modular_zzz/code/modules/clothing/suits/modsuits.dm
  modular_zzz/code/modules/clothing/suits/suits.dm
  modular_zzz/code/modules/mob/living/basic/space_fauna/space_dragon.dm
  modular_zzz/code/modules/storyteller/storyteller_dynamic.dm
  modular_zzz/icons/mob/clothing/heads.dmi
  modular_zzz/icons/mob/clothing/suits.dmi
  modular_zzz/icons/mob/clothing/suits_digi.dmi
  modular_zzz/icons/mob/inhands/weapons/lefthand.dmi
  modular_zzz/icons/mob/inhands/weapons/righthand.dmi
  modular_zzz/icons/obj/clothing/heads.dmi
  modular_zzz/icons/obj/clothing/suits.dmi
  modular_zzz/icons/obj/weapons/weapons.dmi
  modular_zzz/modules/antagonists/pirate/inteq.dm
  modular_zzz/modules/antagonists/pirate/inteq_misc.dm
  modular_zzz/modules/antagonists/zombie/zombie_event.dm
  modular_zzz/modules/customization/species/aiko.dm
  tgstation.dme
Labels: Map Edit, Code, Sprites

#82 Millie_plush<3
  modular_zzplurt/code/game/objects/items/plushes.dm
  modular_zzz/code/modules/loadout/categories/toys.dm
  modular_zzz/icons/mob/inhands/millie_lefthand.dmi
  modular_zzz/icons/mob/inhands/millie_righthand.dmi
  modular_zzz/sounds/plush/milp1.ogg
  modular_zzz/sounds/plush/milp2.ogg
  modular_zzz/sounds/plush/milp3.ogg
  modular_zzz/sounds/plush/milp5.ogg
  tgstation.dme
Labels: Code, Sprites, Sound

#91 Добавление причёски по просьбе
  modular_zzz/icons/mob/sprite_accessory/hair.dmi
  modular_zzz/modules/customization/hair.dm
Labels: Code, Sprites

#89 Перевод ИИ-законов.
  _maps/shuttles/pirate_inteq_colossus.dmm
  code/modules/cargo/markets/_market.dm
  html/changelogs/AutoChangeLog-splurt-pr-468.yml
  modular_zubbers/code/modules/wizard_dize/wizard_dice_event.dm
  modular_zzplurt/code/datums/quirks/neutral_quirks/undead.dm
  modular_zzplurt/code/modules/sprite_accessories/taur.dm
  modular_zzz/code/datums/quirks/positive_qurks/undead.dm
  modular_zzz/code/game/gamemodes/objectives.dm
  modular_zzz/code/modules/cargo/packs/armory.dm
  modular_zzz/code/modules/cargo/packs/company_imports/micron_control_systems.dm
  modular_zzz/code/modules/clothing/outfits/ert.dm
  modular_zzz/code/modules/clothing/outfits/ert_items.dm
  modular_zzz/code/modules/clothing/shoes/shoes.dm
  modular_zzz/code/modules/clothing/under/under.dm
  modular_zzz/code/modules/projectiles/guns/ballistic/automatic.dm
  modular_zzz/code/modules/projectiles/guns/ballistic/zealstar.dm
  modular_zzz/code/modules/projectiles/projectile.dm
  modular_zzz/code/modules/storyteller/event_defines/crewset/heretic.dm
  modular_zzz/code/modules/storyteller/storyteller_1_low.dm
  modular_zzz/icons/mob/weapons/zealstar_lefthand.dmi
  modular_zzz/icons/mob/weapons/zealstar_mob.dmi
  modular_zzz/icons/mob/weapons/zealstar_righthand.dmi
  modular_zzz/icons/obj/weapons/zealstar_obj.dmi
  modular_zzz/modules/new_icons/smes/code.dm
  modular_zzz/modules/translate/laws-translate/laws_antagonistic.dm
  modular_zzz/modules/translate/laws-translate/laws_horny.dm
  modular_zzz/modules/translate/laws-translate/laws_neutral.dm
  modular_zzz/modules/translate/laws-translate/laws_station_sided.dm
  modular_zzz/sounds/weapon/flamethrower.ogg
  strings/saibasan/long_modular_laser.json
  strings/saibasan/short_modular_laser.json
  strings/saibasan/zealstar.json
  tgstation.dme
Labels: Map Edit, Code, Sprites, Sound

#93 Дополняем доступ к шмотке
  modular_zzz/code/modules/loadout/categories/suits.dm
Labels: Code
